# TFM UOC

# Fase 1 - IntegraciÃ³n datos

In [3]:
import pandas as pd # Data handling and managing
import numpy as np  # Handiling linear Algera
import seaborn as sn
import datetime 
import matplotlib.pyplot as plt
%matplotlib inline

# # Ventas

In [83]:
ventas=pd.read_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\01_Ventas.xlsx')
print(ventas)

          fecha  producto  udsVenta
0      20150629         1      3629
1      20150630         1      4666
2      20150701         1     16070
3      20150702         1      4666
4      20150703         1      8813
...         ...       ...       ...
98406  20210217        99       756
98407  20210316        99       108
98408  20210317        99       486
98409  20210319        99       540
98410  20210323        99       162

[98411 rows x 3 columns]

In [76]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### Tail #####################")
    print(dataframe.tail(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

In [122]:
check_df(ventas)

##################### Shape #####################
(98411, 4)
##################### Types #####################
fecha                  int64
producto               int64
udsVenta               int64
fecha_date    datetime64[ns]
dtype: object
##################### Head #####################
      fecha  producto  udsVenta fecha_date
0  20150629         1      3629 2015-06-29
1  20150630         1      4666 2015-06-30
2  20150701         1     16070 2015-07-01
##################### Tail #####################
          fecha  producto  udsVenta fecha_date
98408  20210317        99       486 2021-03-17
98409  20210319        99       540 2021-03-19
98410  20210323        99       162 2021-03-23
##################### NA #####################
fecha         0
producto      0
udsVenta      0
fecha_date    0
dtype: int64
##################### Quantiles #####################
                0.00        0.05        0.50        0.95        0.99  \
fecha     20150629.0  20151024.0  20180502.0  20201001.0  20210206.0
producto         1.0         4.0        48.0        96.0        98.0
udsVenta         0.0        86.0       583.0      2851.0      5702.0

                1.00
fecha     20210323.0
producto        99.0
udsVenta    107827.0

In [21]:
print(min(ventas['fecha']),max(ventas['fecha']))

20150629 20210323

In [84]:
ventas['fecha_date']=pd.to_datetime(ventas['fecha'],format='%Y%m%d')
print(ventas)

          fecha  producto  udsVenta fecha_date
0      20150629         1      3629 2015-06-29
1      20150630         1      4666 2015-06-30
2      20150701         1     16070 2015-07-01
3      20150702         1      4666 2015-07-02
4      20150703         1      8813 2015-07-03
...         ...       ...       ...        ...
98406  20210217        99       756 2021-02-17
98407  20210316        99       108 2021-03-16
98408  20210317        99       486 2021-03-17
98409  20210319        99       540 2021-03-19
98410  20210323        99       162 2021-03-23

[98411 rows x 4 columns]

In [85]:
import csv

file1 = open(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\01_Ventas_Final.csv', "w") 

file1.write("Fecha;Producto;udsVenta")
file1.write("\n")


for i in ventas.index:

    if i+1!=98411:
            
        if abs((ventas.at[i,'fecha_date']-ventas.at[i+1,'fecha_date'])).days>1 and ventas.at[i,'producto']==ventas.at[i+1,'producto'] :

            file1.write(str(ventas.at[i,'fecha_date'])+";"+str(ventas.at[i,'producto'])+";"+str(ventas.at[i,'udsVenta']))
            file1.write("\n")

            diff=abs((ventas.at[i,'fecha_date']-ventas.at[i+1,'fecha_date'])).days
            
            for z in range(1,diff):
                
                file1.write(str(ventas.at[i,'fecha_date']+datetime.timedelta(days=z))+";"+str(ventas.at[i,'producto'])+";"+"0")
                file1.write("\n")

        else:
            
            file1.write(str(ventas.at[i,'fecha_date'])+";"+str(ventas.at[i,'producto'])+";"+str(ventas.at[i,'udsVenta']))
            file1.write("\n")
    else:        
        file1.write(str(ventas.at[i,'fecha_date'])+";"+str(ventas.at[i,'producto'])+";"+str(ventas.at[i,'udsVenta']))

    
    
    
file1.close()

In [125]:
print(ventas['fecha_date'])

0       2015-06-29
1       2015-06-30
2       2015-07-01
3       2015-07-02
4       2015-07-03
           ...
98406   2021-02-17
98407   2021-03-16
98408   2021-03-17
98409   2021-03-19
98410   2021-03-23
Name: fecha_date, Length: 98411, dtype: datetime64[ns]

# Stock

In [86]:
stock=pd.read_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\03_Stock.xlsx')
print(stock)

           fecha  Producto      udsStock
0     2019-06-05       1.0  10184.000000
1     2019-06-11       1.0   1627.000000
2     2019-06-12       1.0   3751.000000
3     2019-06-13       1.0   4036.000000
4     2019-06-14       1.0   2146.000000
...          ...       ...           ...
29834 2021-03-02      99.0   1204.000000
29835 2021-03-09      99.0    540.000000
29836        NaT       NaN   1167.554695
29837        NaT       NaN           NaN
29838        NaT       NaN    656.011591

[29839 rows x 3 columns]

In [87]:
check_df(stock)

##################### Shape #####################
(29839, 3)
##################### Types #####################
fecha       datetime64[ns]
Producto           float64
udsStock           float64
dtype: object
##################### Head #####################
       fecha  Producto  udsStock
0 2019-06-05       1.0   10184.0
1 2019-06-11       1.0    1627.0
2 2019-06-12       1.0    3751.0
##################### Tail #####################
      fecha  Producto     udsStock
29836   NaT       NaN  1167.554695
29837   NaT       NaN          NaN
29838   NaT       NaN   656.011591
##################### NA #####################
fecha       3
Producto    3
udsStock    1
dtype: int64
##################### Quantiles #####################
          0.00  0.05   0.50     0.95    0.99     1.00
Producto   1.0   4.0   43.0    96.00    98.0     99.0
udsStock   1.0  21.0  549.0  2859.45  5612.0  41443.0

In [88]:
stock=stock.dropna()

In [89]:
group_prod=stock.groupby("Producto")
print(group_prod)
mean_stock=group_prod.mean()
mean_stock=mean_stock.reset_index()

print(mean_stock)
print(mean_stock.iloc[1]['udsStock'])

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022E89653F10>
    Producto     udsStock
0        1.0  4918.711765
1        2.0  1607.856582
2        3.0  2699.722772
3        4.0  4056.782516
4        5.0  3279.802548
..       ...          ...
62      94.0   394.938517
63      96.0   288.981238
64      97.0   142.199248
65      98.0   265.243728
66      99.0   346.827586

[67 rows x 2 columns]
1607.8565815324166

In [90]:
stock=stock.sort_values(by=['Producto','fecha'])
stock=stock.reset_index()

In [91]:
check_df(stock)

##################### Shape #####################
(29836, 4)
##################### Types #####################
index                int64
fecha       datetime64[ns]
Producto           float64
udsStock           float64
dtype: object
##################### Head #####################
   index      fecha  Producto  udsStock
0      0 2019-06-05       1.0   10184.0
1      1 2019-06-11       1.0    1627.0
2      2 2019-06-12       1.0    3751.0
##################### Tail #####################
       index      fecha  Producto  udsStock
29833  29833 2021-02-26      99.0     556.0
29834  29834 2021-03-02      99.0    1204.0
29835  29835 2021-03-09      99.0     540.0
##################### NA #####################
index       0
fecha       0
Producto    0
udsStock    0
dtype: int64
##################### Quantiles #####################
          0.00     0.05     0.50      0.95      0.99     1.00
index      0.0  1491.75  14917.5  28343.25  29536.65  29835.0
Producto   1.0     4.00     43.0     96.00     98.00     99.0
udsStock   1.0    21.00    549.0   2859.75   5612.00  41443.0

In [93]:
import csv

file2 = open(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\03_Stock_Final.csv', "w") 

file2.write("Fecha;Producto;udsStock")
file2.write("\n")


for i in stock.index:

    if i+1!=29836:
            #and stock.at[i,'Producto']==stock.at[i+1,'Producto']
        if abs((stock.at[i,'fecha']-stock.at[i+1,'fecha'])).days>1 and stock.at[i,'Producto']==stock.at[i+1,'Producto'] :

            file2.write(str(stock.at[i,'fecha'])+";"+str(stock.at[i,'Producto'])+";"+str(stock.at[i,'udsStock']))
            file2.write("\n")


            diff=abs((stock.at[i,'fecha']-stock.at[i+1,'fecha'])).days

            for z in range(1,diff):
                
                #file2.write(str(stock.at[i,'fecha']+datetime.timedelta(days=z))+";"+str(stock.at[i,'Producto'])+";"+str(int(mean_stock.loc[mean_stock['Producto']==(stock.at[i,'Producto'])]['udsStock'][1])))
                file2.write(str(stock.at[i,'fecha']+datetime.timedelta(days=z))+";"+str(stock.at[i,'Producto'])+";"+str(int(float(mean_stock.loc[(mean_stock['Producto']==(stock.at[i,'Producto'])),['udsStock']].to_string(index=False, header=None).strip()))))
                file2.write("\n")

        else:
            
            file2.write(str(stock.at[i,'fecha'])+";"+str(stock.at[i,'Producto'])+";"+str(stock.at[i,'udsStock']))
            file2.write("\n")

    else:        
        file2.write(str(stock.at[i,'fecha'])+";"+str(stock.at[i,'Producto'])+";"+str(stock.at[i,'udsStock']))


    
    
    
file2.close()

# Promociones

In [32]:
promo=pd.read_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\02_Promociones.xlsx')
print(promo)

     iniciopromo   finpromo  semanainicio  semanafin  Producto  preciotarifa  \
0     2015-12-09 2016-01-03            50        1.0        88        3.7350
1     2015-12-30 2016-01-30            53        5.0        19        4.5432
2     2015-12-30 2016-01-09            53        2.0        87        5.1300
3     2016-01-04 2016-01-08             2        2.0        46        4.1787
4     2016-01-05 2016-01-15             2        3.0        32        4.4100
...          ...        ...           ...        ...       ...           ...
2667  2021-04-17 2021-04-26            16       18.0        14        3.6441
2668  2021-04-19 2021-04-26            17       18.0        14        3.6441
2669  2021-04-24 2021-05-03            17       19.0        19        4.5981
2670  2021-04-26 2021-05-03            18       19.0        19        4.5981
2671  2021-04-29 2021-05-03            18       19.0         2        4.4001

      preciopromocion tipopromo
0              2.6950       NaN
1              3.3558       NaN
2              3.7800       NaN
3              2.9498       NaN
4              3.1500       NaN
...               ...       ...
2667           2.6915       NaN
2668           2.6915       NaN
2669           3.4118       NaN
2670           3.4118       NaN
2671           3.4223       NaN

[2672 rows x 8 columns]

In [293]:
check_df(promo)

##################### Shape #####################
(2672, 8)
##################### Types #####################
iniciopromo        datetime64[ns]
finpromo           datetime64[ns]
semanainicio                int64
semanafin                 float64
Producto                    int64
preciotarifa              float64
preciopromocion           float64
tipopromo                  object
dtype: object
##################### Head #####################
  iniciopromo   finpromo  semanainicio  semanafin  Producto  preciotarifa  \
0  2015-12-09 2016-01-03            50        1.0        88        3.7350
1  2015-12-30 2016-01-09            53        2.0        87        5.1300
2  2015-12-30 2016-01-30            53        5.0        19        4.5432

   preciopromocion tipopromo
0           2.6950       NaN
1           3.7800       NaN
2           3.3558       NaN
##################### Tail #####################
     iniciopromo   finpromo  semanainicio  semanafin  Producto  preciotarifa  \
2669  2021-04-24 2021-05-03            17       19.0        19        4.5981
2670  2021-04-26 2021-05-03            18       19.0        19        4.5981
2671  2021-04-29 2021-05-03            18       19.0         2        4.4001

      preciopromocion tipopromo
2669           3.4118       NaN
2670           3.4118       NaN
2671           3.4223       NaN
##################### NA #####################
iniciopromo           0
finpromo              6
semanainicio          0
semanafin             6
Producto              0
preciotarifa         37
preciopromocion      96
tipopromo          1889
dtype: int64
##################### Quantiles #####################
                 0.00   0.05     0.50      0.95     0.99     1.00
semanainicio      1.0  3.000  25.0000  48.00000  52.0000  53.0000
semanafin         1.0  4.000  25.0000  49.00000  51.0000  53.0000
Producto          1.0  4.000  36.0000  96.00000  98.0000  98.0000
preciotarifa      0.0  3.510   4.1130   6.00858   6.4980   6.8940
preciopromocion   0.0  2.422   2.9687   4.13700   4.5073   5.0386

In [33]:
promo = promo[["iniciopromo", "finpromo","Producto"]]

In [34]:
promo=promo.dropna()

In [35]:
promo=promo.sort_values(by=['Producto','iniciopromo'])
promo=promo.reset_index()

In [307]:
check_df(promo)

##################### Shape #####################
(2666, 5)
##################### Types #####################
level_0                 int64
index                   int64
iniciopromo    datetime64[ns]
finpromo       datetime64[ns]
Producto                int64
dtype: object
##################### Head #####################
   level_0  index iniciopromo   finpromo  Producto
0        0      0  2016-02-12 2016-02-12         1
1        1      1  2016-02-19 2016-02-19         1
2        2      2  2016-03-24 2016-03-24         1
##################### Tail #####################
      level_0  index iniciopromo   finpromo  Producto
2663     2669   2669  2021-03-29 2021-03-30        98
2664     2670   2670  2021-03-29 2021-03-31        98
2665     2671   2671  2021-03-29 2021-04-01        98
##################### NA #####################
level_0        0
index          0
iniciopromo    0
finpromo       0
Producto       0
dtype: int64
##################### Quantiles #####################
          0.00    0.05    0.50     0.95     0.99    1.00
level_0    0.0  133.25  1332.5  2537.75  2644.35  2671.0
index      0.0  133.25  1332.5  2537.75  2644.35  2671.0
Producto   1.0    4.00    36.0    96.00    98.00    98.0

In [36]:
import csv

file3 = open(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\02_Promociones_Final.csv', "w") 

file3.write("Fecha;finpromo;flag;Producto")
file3.write("\n")


for i in promo.index:

    if i+1!=2666:
            
        if abs((promo.at[i,'iniciopromo']-promo.at[i+1,'iniciopromo'])).days>1 and promo.at[i,'Producto']==promo.at[i+1,'Producto'] :
            
            if (promo.at[i,'iniciopromo']-promo.at[i,'finpromo']).days<1:
                var=1
            else:
                var=0

            file3.write(str(promo.at[i,'iniciopromo'])+";"+str(promo.at[i,'finpromo'])+";"+str(var)+";"+str(promo.at[i,'Producto']))
            file3.write("\n")

           
            diff=abs((promo.at[i,'iniciopromo']-promo.at[i+1,'iniciopromo'])).days
            
            for z in range(1,diff):
                
                if ((promo.at[i,'iniciopromo']+datetime.timedelta(days=z))-promo.at[i,'finpromo']).days<1:
                    var=1
                else:
                    var=0
                file3.write(str(promo.at[i,'iniciopromo']+datetime.timedelta(days=z))+";"+str(promo.at[i,'finpromo'])+";"+str(var)+";"+str(promo.at[i,'Producto']))
                file3.write("\n")

        else:
            
            if (promo.at[i,'iniciopromo']-promo.at[i,'finpromo']).days<1:
                    var=1
            else:
                    var=0
            
            file3.write(str(promo.at[i,'iniciopromo'])+";"+str(promo.at[i,'finpromo'])+";"+str(var)+";"+str(promo.at[i,'Producto']))
            file3.write("\n")
    else:        
        if (promo.at[i,'iniciopromo']-promo.at[i,'finpromo']).days<1:
            var=1
        else:
            var=0
        
        file3.write(str(promo.at[i,'iniciopromo'])+";"+str(promo.at[i,'finpromo'])+";"+str(var)+";"+str(promo.at[i,'Producto']))

    
    
    
file3.close()

# Precios

In [58]:
precios=pd.read_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\02_Promociones.xlsx')
print(precios)

     iniciopromo   finpromo  semanainicio  semanafin  Producto  preciotarifa  \
0     2015-12-09 2016-01-03            50        1.0        88        3.7350
1     2015-12-30 2016-01-30            53        5.0        19        4.5432
2     2015-12-30 2016-01-09            53        2.0        87        5.1300
3     2016-01-04 2016-01-08             2        2.0        46        4.1787
4     2016-01-05 2016-01-15             2        3.0        32        4.4100
...          ...        ...           ...        ...       ...           ...
2667  2021-04-17 2021-04-26            16       18.0        14        3.6441
2668  2021-04-19 2021-04-26            17       18.0        14        3.6441
2669  2021-04-24 2021-05-03            17       19.0        19        4.5981
2670  2021-04-26 2021-05-03            18       19.0        19        4.5981
2671  2021-04-29 2021-05-03            18       19.0         2        4.4001

      preciopromocion tipopromo
0              2.6950       NaN
1              3.3558       NaN
2              3.7800       NaN
3              2.9498       NaN
4              3.1500       NaN
...               ...       ...
2667           2.6915       NaN
2668           2.6915       NaN
2669           3.4118       NaN
2670           3.4118       NaN
2671           3.4223       NaN

[2672 rows x 8 columns]

In [59]:
precios = precios[["iniciopromo", "finpromo","Producto","preciotarifa","preciopromocion"]]

In [60]:
precios.replace(0, np.nan, inplace=True)

In [61]:
precios=precios.dropna()
precios.drop_duplicates(keep=False,inplace=True)

In [62]:
precios=precios.sort_values(by=['Producto','iniciopromo'])
precios=precios.reset_index()

In [336]:
check_df(precios)

##################### Shape #####################
(2534, 6)
##################### Types #####################
index                       int64
iniciopromo        datetime64[ns]
finpromo           datetime64[ns]
Producto                    int64
preciotarifa              float64
preciopromocion           float64
dtype: object
##################### Head #####################
   index iniciopromo   finpromo  Producto  preciotarifa  preciopromocion
0    387  2017-01-14 2017-01-17         1        4.2480           3.3040
1    454  2017-03-02 2017-03-03         1        4.2480           3.3040
2    489  2017-03-28 2017-03-28         1        4.2264           3.2872
##################### Tail #####################
      index iniciopromo   finpromo  Producto  preciotarifa  preciopromocion
2531   2654  2021-03-29 2021-03-30        98        3.6711           2.5697
2532   2655  2021-03-29 2021-03-31        98        3.6711           2.5697
2533   2656  2021-03-29 2021-04-01        98        3.6711           2.5697
##################### NA #####################
index              0
iniciopromo        0
finpromo           0
Producto           0
preciotarifa       0
preciopromocion    0
dtype: int64
##################### Quantiles #####################
                  0.00     0.05       0.50       0.95         0.99       1.00
index            0.000  139.650  1364.5000  2544.3500  2645.670000  2671.0000
Producto         1.000    4.000    36.0000    96.0000    98.000000    98.0000
preciotarifa     1.215    3.510     4.1382     6.0156     6.498000     6.8940
preciopromocion  0.686    2.436     2.9750     4.1594     4.517884     5.0386

In [63]:
import csv

file4 = open(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\02_Precios_Final.csv', "w") 

file4.write("Fecha;finpromo;Precio;Producto")
file4.write("\n")


for i in precios.index:

    if i+1!=2534:
            
        if abs((precios.at[i,'iniciopromo']-precios.at[i+1,'iniciopromo'])).days>1 and precios.at[i,'Producto']==precios.at[i+1,'Producto'] :
            
            if (precios.at[i,'iniciopromo']-precios.at[i,'finpromo']).days<1:
                var=precios.at[i,'preciopromocion']
            else:
                var=precios.at[i,'preciotarifa']

            file4.write(str(precios.at[i,'iniciopromo'])+";"+str(precios.at[i,'finpromo'])+";"+str(var)+";"+str(precios.at[i,'Producto']))
            file4.write("\n")

           
            diff=abs((precios.at[i,'iniciopromo']-precios.at[i+1,'iniciopromo'])).days
            
            for z in range(1,diff):
                
                if ((precios.at[i,'iniciopromo']+datetime.timedelta(days=z))-precios.at[i,'finpromo']).days<1:
                    var=precios.at[i,'preciopromocion']
                else:
                    var=precios.at[i,'preciotarifa']
                file4.write(str(precios.at[i,'iniciopromo']+datetime.timedelta(days=z))+";"+str(precios.at[i,'finpromo'])+";"+str(var)+";"+str(precios.at[i,'Producto']))
                file4.write("\n")

        else:
            
            if (precios.at[i,'iniciopromo']-precios.at[i,'finpromo']).days<1:
                    var=precios.at[i,'preciopromocion']
            else:
                    var=precios.at[i,'preciotarifa']
            
            file4.write(str(precios.at[i,'iniciopromo'])+";"+str(precios.at[i,'finpromo'])+";"+str(var)+";"+str(precios.at[i,'Producto']))
            file4.write("\n")
    else:        
        if (precios.at[i,'iniciopromo']-precios.at[i,'finpromo']).days<1:
            var=precios.at[i,'preciopromocion']
        else:
            var=precios.at[i,'preciotarifa']
        
        file4.write(str(precios.at[i,'iniciopromo'])+";"+str(precios.at[i,'finpromo'])+";"+str(var)+";"+str(precios.at[i,'Producto']))

    
    
    
file4.close()

# Calendario

In [39]:
def create_date_table(start='2015-01-01', end='2021-12-31'):
    start_ts = pd.to_datetime(start).date()

    end_ts = pd.to_datetime(end).date()

    # record timetsamp is empty for now
    dates =  pd.DataFrame(columns=['Record_timestamp'],
        index=pd.date_range(start_ts, end_ts))
    dates.index.name = 'Date'

    days_names = {
        i: name
        for i, name
        in enumerate(['Monday', 'Tuesday', 'Wednesday',
                      'Thursday', 'Friday', 'Saturday', 
                      'Sunday'])
    }

    dates['Day'] = dates.index.dayofweek.map(days_names.get)
    dates['Week'] = dates.index.week
    dates['Month'] = dates.index.month
    dates['Quarter'] = dates.index.quarter
    dates['Year_half'] = dates.index.month.map(lambda mth: 1 if mth <7 else 2)
    dates['Year'] = dates.index.year
    dates.reset_index(inplace=True)
    dates.index.name = 'date_id'
    return dates

In [40]:
create_date_table().head()

<ipython-input-39-72fc778a2f99>:20: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  dates['Week'] = dates.index.week

,Date,Record_timestamp,Day,Week,Month,Quarter,Year_half,Year
date_id,,,,,,,,
0,2015-01-01,NaN,Thursday,1,1,1,1,2015
1,2015-01-02,NaN,Friday,1,1,1,1,2015
2,2015-01-03,NaN,Saturday,1,1,1,1,2015
3,2015-01-04,NaN,Sunday,1,1,1,1,2015
4,2015-01-05,NaN,Monday,2,1,1,1,2015

In [41]:
calendario = pd.DataFrame(create_date_table())

<ipython-input-39-72fc778a2f99>:20: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  dates['Week'] = dates.index.week

In [47]:
calendario.to_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\Calendario.xlsx')

In [49]:
calendario=pd.read_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\Calendario.xlsx')
print(calendario)

      Unnamed: 0  date_id       Date  Record_timestamp        Day  Week  \
0              0        0 2015-01-01               NaN   Thursday     1
1              1        1 2015-01-02               NaN     Friday     1
2              2        2 2015-01-03               NaN   Saturday     1
3              3        3 2015-01-04               NaN     Sunday     1
4              4        4 2015-01-05               NaN     Monday     2
...          ...      ...        ...               ...        ...   ...
2552        2552     2552 2021-12-27               NaN     Monday    52
2553        2553     2553 2021-12-28               NaN    Tuesday    52
2554        2554     2554 2021-12-29               NaN  Wednesday    52
2555        2555     2555 2021-12-30               NaN   Thursday    52
2556        2556     2556 2021-12-31               NaN     Friday    52

      Month  Quarter  Year_half  Year
0         1        1          1  2015
1         1        1          1  2015
2         1        1          1  2015
3         1        1          1  2015
4         1        1          1  2015
...     ...      ...        ...   ...
2552     12        4          2  2021
2553     12        4          2  2021
2554     12        4          2  2021
2555     12        4          2  2021
2556     12        4          2  2021

[2557 rows x 10 columns]

In [ ]:
calendario = calendario[["Date", "Festivo","Fin de semana"]]

In [347]:
calendario['Festivo'] = calendario['Festivo'].fillna(0)
calendario['Fin de semana'] = calendario['Fin de semana'].fillna(0)

In [348]:
calendario=calendario.sort_values(by=['Date'])
calendario=calendario.reset_index()

In [37]:
check_df(calendario)

NameError: name 'check_df' is not defined

In [350]:
calendario.to_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\Calendario_Final.xlsx')

# Merge datos

In [64]:
calendario_final=pd.read_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\Calendario_Final.xlsx')
ventas_final=pd.read_csv(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\01_Ventas_Final.csv',sep=';')
stock_final=pd.read_csv(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\03_Stock_Final.csv',sep=';')
promo_final=pd.read_csv(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\02_Promociones_Final.csv',sep=';')
precios_final=pd.read_csv(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\02_Precios_Final.csv',sep=';')

In [154]:
#calendario_final.head()
print("Calendario Rango: "+str(min(calendario_final['Fecha']))+" "+str(max(calendario_final['Fecha'])))
#ventas_final.head()
print("Ventas Rango: "+str(min(ventas_final['Fecha']))+" "+str(max(ventas_final['Fecha'])))
#stock_final.head()
print("Stock Rango: "+str(min(stock_final['Fecha']))+" "+str(max(stock_final['Fecha'])))
#promo_final.head()
print("Promociones Rango: "+str(min(promo_final['Fecha']))+" "+str(max(promo_final['Fecha'])))
#precios_final.head()
print("Precios Rango: "+str(min(precios_final['Fecha']))+" "+str(max(precios_final['Fecha'])))

Calendario Rango: 2015-01-01 00:00:00 2021-12-31 00:00:00
Ventas Rango: 2015-06-29 00:00:00 2021-03-23 00:00:00
Stock Rango: 2019-06-05 00:00:00 2021-03-24 00:00:00
Promociones Rango: 2015-12-09 00:00:00 2021-04-29 00:00:00
Precios Rango: 2015-12-09 00:00:00 2021-04-29 00:00:00

In [52]:
print(calendario_final.head())
print(ventas_final.head())
print(stock_final.head())
print(stock_final.head())
print(precios_final.head())

   Unnamed: 0  index      Fecha  Festivo  Fin de semana
0           0      0 2015-01-01        1              0
1           1      1 2015-01-02        0              0
2           2      2 2015-01-03        0              1
3           3      3 2015-01-04        0              1
4           4      4 2015-01-05        0              0
                 Fecha  Producto  udsVenta
0  2015-06-29 00:00:00         1      3629
1  2015-06-30 00:00:00         1      4666
2  2015-07-01 00:00:00         1     16070
3  2015-07-02 00:00:00         1      4666
4  2015-07-03 00:00:00         1      8813
                 Fecha  Producto  udsStock
0  2019-06-05 00:00:00         1     10184
1  2019-06-06 00:00:00         1      4918
2  2019-06-07 00:00:00         1      4918
3  2019-06-08 00:00:00         1      4918
4  2019-06-09 00:00:00         1      4918
                 Fecha  Producto  udsStock
0  2019-06-05 00:00:00         1     10184
1  2019-06-06 00:00:00         1      4918
2  2019-06-07 00:00:00         1      4918
3  2019-06-08 00:00:00         1      4918
4  2019-06-09 00:00:00         1      4918
           iniciopromo             finpromo  Precio  Producto
0  2017-01-14 00:00:00  2017-01-17 00:00:00   3.304         1
1  2017-01-15 00:00:00  2017-01-17 00:00:00   3.304         1
2  2017-01-16 00:00:00  2017-01-17 00:00:00   3.304         1
3  2017-01-17 00:00:00  2017-01-17 00:00:00   3.304         1
4  2017-01-18 00:00:00  2017-01-17 00:00:00   4.248         1

In [131]:

#list(calendario_final.columns)
calendario_final=calendario_final.drop(columns=['Unnamed: 0', 'index'])

In [132]:
df_ventas_stock=pd.merge(ventas_final,stock_final, on=['Fecha','Producto'])
df_ventas_stock

                     Fecha  Producto  udsVenta  udsStock
0      2019-06-05 00:00:00         1      2074     10184
1      2019-06-06 00:00:00         1     12787      4918
2      2019-06-07 00:00:00         1      3110      4918
3      2019-06-08 00:00:00         1         0      4918
4      2019-06-09 00:00:00         1         0      4918
...                    ...       ...       ...       ...
40852  2021-03-05 00:00:00        99         0       346
40853  2021-03-06 00:00:00        99         0       346
40854  2021-03-07 00:00:00        99         0       346
40855  2021-03-08 00:00:00        99         0       346
40856  2021-03-09 00:00:00        99         0       540

[40857 rows x 4 columns]

In [133]:
df_ventas_stock.to_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\df_ventas_stock.xlsx')

In [141]:
promo_final=promo_final.drop(columns=['finpromo'])

KeyError: "['finpromo'] not found in axis"

In [143]:

precios_final=precios_final.drop(columns=['finpromo'])
precios_final

                     Fecha  Precio  Producto
0      2017-01-14 00:00:00  3.3040         1
1      2017-01-15 00:00:00  3.3040         1
2      2017-01-16 00:00:00  3.3040         1
3      2017-01-17 00:00:00  3.3040         1
4      2017-01-18 00:00:00  4.2480         1
...                    ...     ...       ...
97707  2021-03-27 00:00:00  3.6711        98
97708  2021-03-28 00:00:00  3.6711        98
97709  2021-03-29 00:00:00  2.5697        98
97710  2021-03-29 00:00:00  2.5697        98
97711  2021-03-29 00:00:00  2.5697        98

[97712 rows x 3 columns]

In [144]:

df_ventas_stock_promo=df_ventas_stock.merge(promo_final, on=['Fecha','Producto'], how='left')
df_ventas_stock_promo
df_ventas_stock_promo.to_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\df_ventas_stock_promo.xlsx')

In [145]:
df_ventas_stock_promo

                     Fecha  Producto  udsVenta  udsStock  flag
0      2019-06-05 00:00:00         1      2074     10184   0.0
1      2019-06-06 00:00:00         1     12787      4918   1.0
2      2019-06-07 00:00:00         1      3110      4918   0.0
3      2019-06-08 00:00:00         1         0      4918   0.0
4      2019-06-09 00:00:00         1         0      4918   0.0
...                    ...       ...       ...       ...   ...
40999  2021-03-05 00:00:00        99         0       346   NaN
41000  2021-03-06 00:00:00        99         0       346   NaN
41001  2021-03-07 00:00:00        99         0       346   NaN
41002  2021-03-08 00:00:00        99         0       346   NaN
41003  2021-03-09 00:00:00        99         0       540   NaN

[41004 rows x 5 columns]

In [146]:
df_ventas_stock_promo_precios=df_ventas_stock_promo.merge(precios_final, on=['Fecha','Producto'], how='left')
df_ventas_stock_promo_precios.to_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\df_ventas_stock_promo_precios.xlsx')
df_ventas_stock_promo_precios

                     Fecha  Producto  udsVenta  udsStock  flag  Precio
0      2019-06-05 00:00:00         1      2074     10184   0.0  4.1931
1      2019-06-06 00:00:00         1     12787      4918   1.0  3.2613
2      2019-06-07 00:00:00         1      3110      4918   0.0  4.1931
3      2019-06-08 00:00:00         1         0      4918   0.0  4.1931
4      2019-06-09 00:00:00         1         0      4918   0.0  4.1931
...                    ...       ...       ...       ...   ...     ...
41300  2021-03-05 00:00:00        99         0       346   NaN     NaN
41301  2021-03-06 00:00:00        99         0       346   NaN     NaN
41302  2021-03-07 00:00:00        99         0       346   NaN     NaN
41303  2021-03-08 00:00:00        99         0       346   NaN     NaN
41304  2021-03-09 00:00:00        99         0       540   NaN     NaN

[41305 rows x 6 columns]

In [147]:
df_ventas_stock_promo_precios['Fecha'] = pd.to_datetime(df_ventas_stock_promo_precios['Fecha'])

In [148]:
df_ventas_stock_promo_precios_calendario=df_ventas_stock_promo_precios.merge(calendario_final, on=['Fecha'], how='left')
df_ventas_stock_promo_precios_calendario.to_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\Dataset_Completo.xlsx')

In [124]:
calendario_final

      Unnamed: 0  index      Fecha  Festivo  Fin de semana
0              0      0 2015-01-01        1              0
1              1      1 2015-01-02        0              0
2              2      2 2015-01-03        0              1
3              3      3 2015-01-04        0              1
4              4      4 2015-01-05        0              0
...          ...    ...        ...      ...            ...
2552        2552   2552 2021-12-27        0              0
2553        2553   2553 2021-12-28        0              0
2554        2554   2554 2021-12-29        0              0
2555        2555   2555 2021-12-30        0              0
2556        2556   2556 2021-12-31        0              0

[2557 rows x 5 columns]

# Dataset Final

In [216]:
dataset=pd.read_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\Dataset_Completo.xlsx')
dataset.head()

,Unnamed: 0,Fecha,Producto,udsVenta,udsStock,flag,Precio,Festivo,Fin de semana
0,0,2019-06-05,1,2074,10184,0.0,4.1931,0,0
1,1,2019-06-06,1,12787,4918,1.0,3.2613,0,0
2,2,2019-06-07,1,3110,4918,0.0,4.1931,0,0
3,3,2019-06-08,1,0,4918,0.0,4.1931,0,1
4,4,2019-06-09,1,0,4918,0.0,4.1931,0,1

In [217]:
dataset.drop(dataset.columns[0], axis=1, inplace=True)

In [159]:
check_df(dataset)

##################### Shape #####################
(41305, 8)
##################### Types #####################
Fecha            datetime64[ns]
Producto                  int64
udsVenta                  int64
udsStock                  int64
flag                    float64
Precio                  float64
Festivo                   int64
Fin de semana             int64
dtype: object
##################### Head #####################
       Fecha  Producto  udsVenta  udsStock  flag  Precio  Festivo  \
0 2019-06-05         1      2074     10184   0.0  4.1931        0
1 2019-06-06         1     12787      4918   1.0  3.2613        0
2 2019-06-07         1      3110      4918   0.0  4.1931        0

   Fin de semana
0              0
1              0
2              0
##################### Tail #####################
           Fecha  Producto  udsVenta  udsStock  flag  Precio  Festivo  \
41302 2021-03-07        99         0       346   NaN     NaN        0
41303 2021-03-08        99         0       346   NaN     NaN        0
41304 2021-03-09        99         0       540   NaN     NaN        0

       Fin de semana
41302              1
41303              0
41304              0
##################### NA #####################
Fecha               0
Producto            0
udsVenta            0
udsStock            0
flag             7210
Precio           7651
Festivo             0
Fin de semana       0
dtype: int64
##################### Quantiles #####################
                0.00     0.05     0.50       0.95       0.99        1.00
Producto       1.000   4.0000   46.000    96.0000    99.0000     99.0000
udsVenta       0.000   0.0000  280.000  2214.0000  4103.1200  34128.0000
udsStock       1.000  29.0000  522.000  2814.8000  4918.0000  41443.0000
flag           0.000   0.0000    0.000     1.0000     1.0000      1.0000
Precio         0.686   2.5718    4.068     5.6061     6.4782      6.4782
Festivo        0.000   0.0000    0.000     0.0000     1.0000      1.0000
Fin de semana  0.000   0.0000    0.000     1.0000     1.0000      1.0000

In [212]:
group_price=dataset.dropna()

group_price=group_price[group_price['flag']==0]['Precio']

media_precio=group_price.mean()

#mean_price=group_price.mean()

In [221]:
dataset['Precio'].fillna((media_precio), inplace=True)
dataset['flag'].fillna((0), inplace=True)

In [222]:
check_df(dataset)

##################### Shape #####################
(41305, 8)
##################### Types #####################
Fecha            datetime64[ns]
Producto                  int64
udsVenta                  int64
udsStock                  int64
flag                    float64
Precio                  float64
Festivo                   int64
Fin de semana             int64
dtype: object
##################### Head #####################
       Fecha  Producto  udsVenta  udsStock  flag  Precio  Festivo  \
0 2019-06-05         1      2074     10184   0.0  4.1931        0
1 2019-06-06         1     12787      4918   1.0  3.2613        0
2 2019-06-07         1      3110      4918   0.0  4.1931        0

   Fin de semana
0              0
1              0
2              0
##################### Tail #####################
           Fecha  Producto  udsVenta  udsStock  flag   Precio  Festivo  \
41302 2021-03-07        99         0       346   0.0  4.35323        0
41303 2021-03-08        99         0       346   0.0  4.35323        0
41304 2021-03-09        99         0       540   0.0  4.35323        0

       Fin de semana
41302              1
41303              0
41304              0
##################### NA #####################
Fecha            0
Producto         0
udsVenta         0
udsStock         0
flag             0
Precio           0
Festivo          0
Fin de semana    0
dtype: int64
##################### Quantiles #####################
                0.00    0.05       0.50      0.95       0.99        1.00
Producto       1.000   4.000   46.00000    96.000    99.0000     99.0000
udsVenta       0.000   0.000  280.00000  2214.000  4103.1200  34128.0000
udsStock       1.000  29.000  522.00000  2814.800  4918.0000  41443.0000
flag           0.000   0.000    0.00000     1.000     1.0000      1.0000
Precio         0.686   2.618    4.35323     5.553     6.4782      6.4782
Festivo        0.000   0.000    0.00000     0.000     1.0000      1.0000
Fin de semana  0.000   0.000    0.00000     1.000     1.0000      1.0000

In [223]:
dataset.to_excel(r'C:\Users\subir\OneDrive\Escritorio\PC ANTIC\UOC\TFM\Dataset_Completo_Fase1.xlsx')